    <div id="emotion-graph">
        <div id="graph-arrow">
            <img src="{{ url_for('static', filename='/images/meeting/icon-arrow.png') }}">
        </div>

        <div id="graph-line"></div>

        <div id="emotion-image">
            <ul>
                <li>
                    <img src="{{ url_for('static', filename='/images/meeting/icon-anger-mono.png') }}">
                </li>
                <li>
                    <img src="{{ url_for('static', filename='/images/meeting/icon-sadness-mono.png') }}">
                </li>
                <li>
                    <img src="{{ url_for('static', filename='/images/meeting/icon-neutral-mono.png') }}">
                </li>
                <li>
                    <img src="{{ url_for('static', filename='/images/meeting/icon-happiness-mono.png') }}">
                </li>
            </ul>
        </div>
    </div>

    <h3>지금 회의는?</h3>