{% extends 'base.html' %}

{% block css %}
    {{ super () }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-body.css') }}" type="text/css">
{% endblock css %}

{% block content %}
    <body>
        {% include 'header.html' %}
        <main>
            <section id="meeting">
                {% include 'meeting/meeting.html' %}
            </section>

            <section id="emotion">
                {% include 'meeting/emotion.html' %}
            </section>
            
            <section id="minute">
                {% include 'meeting/minute.html' %}
            </section>
        </main>
    </body>
{% endblock content %}