<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chat/css/style.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<body>
    <p id="count">Disconnected.</p>
    <form>
        <button type="button" id="start_meeting" disabled>회의 시작</button>
        <button type="button" id="end_meeting" disabled>회의 종료</button>
    </form>
    <div id="root">
        <div id="container" class="container">
            <div id="local" class="participant"><div></div><div class="label">Me</div></div>
            <!-- more participants will be added dynamically here -->
        </div>
    <div id="test"></div>
        
</body>

<div class="modal fade" id="roomnameInputModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-body">
                    <label for="roomname">회의 이름을 입력하세요 </label>
                    <input type="text" name="roomname" id="roomname">
                    <label for="username">이름을 입력하세요(로그인 기능완료 후 삭제 예정) </label>
                    <input type="text" name="username" id="username">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button id="join_leave"><a href ="/meeting">회의 입장</a></button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'meeting/scripts.html' %}