    <header>
        <div id="meeting-title">
            
        </div>

        <div id="meeting-property">
            <div id="participation-code">
                참여 코드 복사
            </div>
            <div id="meeting-status">
                
            </div>
        </div>
    </header>

    <section id="minute-content">
    </section>

    <footer>
        <form action="/stt" method="POST">
            <button type="submit" id="start_meeting" disabled>회의 시작</button>
            <button type="submit" id="end_meeting" disabled>회의 종료</button>
            <input type="hidden" id="submitname" name="submitname" value="윤소현">
        </form>
    </footer>