/* Minute Page Settings - Detail */
.main #minute-details {
    flex-direction: column;
    align-items: center;
}

.main main #minute-container {
    height: 100%;
}

.main #minute-container .tab-content {
    height: 100%;
    max-height: 100%;
}

#minute-title {
    padding: 35px 10px 0px 10px;
    flex-basis: 10%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
}

#minute-title p, #minute-title h2, #minute-details h4 {
    margin: 0px;
}

#minute-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#minute-container ul {
    margin: 0px;
    padding: 0px;

    justify-content: flex-start;

    width: 100%;
    height: auto;
}

#minute-container li {
    margin-right: 20px;
    padding: 10px;

    display: inline-block;
    width: 100px;

    text-align: center;
    border-radius: 5px 5px 0px 0px;

    background-color: #0080ff;
    color: white;
}

#minute-container li:hover {
    cursor: pointer;

    color: #242424;
    background-color: #B7DBFF;
}

#minute-container li.current {
    color: #242424;
    background-color: #B7DBFF;
}

#minute-container .tab-content {
    width: 100%;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #B7DBFF;
    border-radius: 0px 5px 5px 5px;

    display: none;
}

#minute-container .tab-content.current {
    display: flex;
}

.contents-container {
    width: 80%;
    padding-top: 70px;
}

.detail::-webkit-scrollbar {
    display: none;
}