{% extends 'base.html' %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login/login-body.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login/login.css') }}" type="text/css">
{% endblock css %}

{% block content %}
<style>
  .googlebuttonstyle1{
    color: transparent;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    height:10px; 
    width:300px;
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
<script>  
function gotomain(){
  console.log("hi");
  location.href="/main";
}

function checkLoginStatus(){
  var nameTxt = document.querySelector('#user_name');
  var emailTxt = document.querySelector('#user_email');
  var loginBtn = document.querySelector('#loginBtn');
  if(gauth.isSignedIn.get()){
    console.log('logined');
    var profile = gauth.currentUser.get().getBasicProfile();
    var user_name = profile.getName();
    var user_email = profile.getEmail();
    //console.log(user_name);
    //console.log(user_email);
    nameTxt.value = user_name;
    emailTxt.value = user_email;
    console.log(nameTxt.value);
    console.log(emailTxt.value);
    login_google.submit();
    //gotomain();
  }
}
  function init() {
  gapi.load('auth2', function() {
    console.log('^ㅡ^auth2');
    window.gauth = gapi.auth2.init({
        client_id:'646888679664-oklga1e16gl0c5fcniv49b039v7qs4ok.apps.googleusercontent.com'
    })
    gauth.then(function(){
      console.log('ㅡ_ㅡgoogleAuth success');     
      checkLoginStatus();
    }, function(){
      console.log('googleAuth fail');
    });
  });
  }    

</script>
<body class="blue login">
    <main>
      <section id="logo">
        <img src="{{ url_for('static', filename='images/login/logo.png') }}" alt="캔위미트? 로고">
      </section>

      <section id="login-form">
        {{ csrf_token }}
        <div id="naverIdLogin">
            <img src="{{ url_for('static', filename='images/login/login-naver.png') }}" alt="네이버 로그인">
        </div>

        <div id="kakao">
          <a href="https://kauth.kakao.com/oauth/authorize?client_id=db3901148da54e8931540503043c6259&redirect_uri=http://localhost:5000/oauth&response_type=code&scope=talk_message">
            <img src="{{ url_for('static', filename='images/login/login-kakao.png') }}" alt="카카오 로그인">
          </a>
        </div>
        
        <div id="google">   
          <form method="POST" id="login_google" name="login_google">     
          <button type="button" id="loginBtn" value="login" class="googlebuttonstyle1" onclick="
          if(this.value == 'login'){
            gauth.signIn().then(function(){
            checkLoginStatus();
          });
          }">
          <img src="{{ url_for('static', filename='images/login/login-google.png') }}" alt="구글 로그인"></button>
          <input type="hidden" name="user_email" id="user_email">
          <input type="hidden" name="user_name" id="user_name">
        </form>
      </div>  
      </section>

      <section id="phrase">
        <p>
          <span class="yellow-bold">세 번의 클릭</span>만으로<br>
          <span class="yellow-bold">회의를 시작</span>하세요!
        </p>        
      </section>

    </main>
{% endblock content %}

{% block scripts %}
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
  </body>
{% endblock scripts %}
