{% extends 'base.html' %}

{% block css %}
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login/login.css') }}" type="text/css">
{% endblock css %}

{% block content %}
<body class="blue login">
    <main>
      <section id="logo">
        <img src="{{ url_for('static', filename='images/login/logo.png') }}" alt="캔위미트? 로고">
      </section>

      <section id="login-form">
        {{ csrf_token }}
        
          <form method="POST">
          <input type="text" name="user_name" id="user_name">
          <button type="submit">로그인버튼</button>
          
        </form>
      </section>

      <section id="phrase">
        <p>
          <span class="yellow-bold">세 번의 클릭</span>만으로<br>
          <span class="yellow-bold">회의를 시작</span>하세요!
        </p>        
      </section>

    </main>
{% endblock content %}

{% block scripts %}
    
  </body>
{% endblock scripts %}
