{% extends 'base.html' %}

{% block content %}
  <body class="blue login">
    <main>
      <section>
        <h2>당신이 <span class="yellow-bold">누구</span>인지 알려주세요.</h2>
        <span>곧 회의가 시작됩니다…</span>
      </section>

      <section id="profile-setup">
        <form action="" method="POST" enctype="multipart/form-data" id="profile-form">
          <label id="profile-image">
            <img src="{{ url_for('static', filename='images/main/profile.png') }}">
            <input type="file" accept="image/png, image/jpeg" />
          </label>
          
          <input type="email" placeholder="username@example.com" required />
          <input type="text" placeholder="이름을 입력해주세요" required />
          <button type="submit">시작하기</button>
        </form>
      </section>

      <section id="privacy-terms">
        <header>
          <span><h3>개인정보 이용 약관</h3></span>
          <span>닫기 버튼</span>
        </header>

        <article>
          여기에 약관 내용을 입력해주세요.
        </article>
        
        <footer>
          <div>
            네, 동의합니다.
          </div>
          <div>
            취소
          </div>
        </footer>
      </section>
    </main>
  </body>
{% endblock content %}
