/* Login & Register Page Settings */
#logo img {
    width: 300px;
}

#login-form {
    margin-top: 20px;
}

#login-form img {
    padding: 1px 0px;
    width: 300px;
    height: auto;
}

#phrase {
    line-height: 1.5em;
}

#google button {
    margin: 0px;
    padding: 0px;

    width: 300px;
    border: 0px;
    outline: none;

    color: transparent;
    background-color: transparent;
}

#google button:hover {
    cursor: pointer;
}