/* Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@700&display=swap');


/* Basic Settings */
body {
    margin: 0 auto;
    color: #242424;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #e5f2ff;
}

a {
    text-decoration: none;
    color: #242424;
}

ul {
    list-style: none;
}


/* Font Colors & Weight Settings */
.blue {
    background-color: #0080ff;
    color: white;
}

.blue a {
    color: white;
}

.yellow-bold {
    color: #ffd862;
    font-weight: bold;
}

.blue-bold {
    color: #0080ff;
    font-weight: bold;
}

.black-bold {
    font-weight: bold;
}

.Noto-Sans {
    font-family: 'Noto Sans KR', sans-serif;
}

body.login {
    text-align: center;
    height: 100vh;
}

.login main {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Register Page Settings */
#profile-setup {
    height: 55%;
}

#profile-form {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#profile-image {
    margin: 9px 0px;
    width: 140px;
    height: 140px;

    cursor: pointer;
}

#profile-image img {
    max-width: 100%;
    max-height: 100%;
}

#profile-image:hover {
    opacity: 0.8;
}

#profile-form input, button {
    padding: 10px 16px;

    width: 240px;
    box-sizing: border-box;

    border: 0px;
    border-radius: 5px;

    font-family: 'Nanum Gothic', sans-serif;
}

#profile-form input[type=file] {
    display: none;
}

#profile-form input:focus {
    outline: none;
    background-color: #99ccff;
}

#profile-form button {
    color: white;
    border: white 2px solid;
    background-color: #0080ff;
}

#profile-form button:hover {
    color: #0080ff;
    background-color: white;

    cursor: pointer;
}

#privacy-terms {
    display: none;
}