<!DOCTYPE html>
<html lang="ko">
    <head>
        {% block title %}
        <title>캔위미트?</title>
        {% endblock title %}

        {% block meta %}
        <meta charset="utf-8">
        {% endblock meta %}

        {% block css %}
        <link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
        {% endblock css %}

        <link rel="shortcut icon"  href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

        {% block scripts %}
        <script src="{{ url_for('static', filename='') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% endblock scripts %}
    </head>
        {% block content %}
        <body></body>
        {% endblock content %}
</html>
