    <header id="header">
        <div id="logo-header">
            <a href="/main">
                <img src="{{ url_for('static', filename='images/main/logo-header.png') }}" alt="로고">
            </a>
        </div>

        <div id="profile">
            <ul>
                <li id="profile-info">
                    <img src="{{ url_for('static', filename='images/main/profile.png') }}" alt="프로필 사진">
                    (이름)
                    <ul>
                        <li id="profile-menu">
                            <a href="/logout">로그아웃</a>
                        </li>
                    </ul>
                </li>                
            </ul>
        </div>
    </header>