{% extends 'base.html' %}

{% block css %}
    {{ super () }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-body.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
{% endblock css %}

{% block content %}
    <body class="main">
        {% include 'header.html' %}

        <main>
            <section>
                <article class="menu meeting">
                    <img src="{{ url_for('static', filename='images/main/icon-meeting.png') }}">
                    <h1 id="create-room">회의 시작하기</h1>
                    <a href="">
                        <h3>이미 회의룸이 존재하시나요?</h3>
                    </a>
                </article>
                <article class="menu minute-list">
                    <a href="/minute">
                        <img src="{{ url_for('static', filename='images/main/icon-minute.png') }}">
                        <h1>지난 회의록 보기</h1>
                    </a>
                </article>
            </section>
        </main>

        <section id="create-room-popup">
            <div id="create-room-container">
                <header>
                    방 제목을 입력해주세요.
                    <img src="{{ url_for('static', filename='images/main/icon-cancel.png') }}" class="cancel">
                </header>

                <form action="/meeting" method="POST">
                    <input type="text" name="roomname" id="roomname" placeholder="이곳에 방 제목을 입력해주세요" required> 
                    <input type="hidden" name="username" id="username" required>
                    <button type="submit" onclick="getName()">확인</button>
                </form>
            </div>
        </section>
{% endblock content %}

{% block scripts %}
        {{ super() }}
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
{% endblock scripts %}