{% extends 'base.html' %}

{% block content %}
    <body class="main">
        {% include 'header.html' %}

        <main>
            <section>
                <article class="menu meeting">
                    <img src="{{ url_for('static', filename='images/main/icon-meeting.png') }}">
                    <a href="/meeting">
                        <h1>회의 시작하기</h1>
                    </a>
                    <h3>이미 회의룸이 존재하시나요?</h3>
                </article>

                <article class="menu minute-list">
                    <a href="/minute">
                        <img src="{{ url_for('static', filename='images/main/icon-minute.png') }}">
                        <h1>지난 회의록 보기</h1>
                    </a>
                </article>
            </section>
        </main>
        
    </body>
    
{% endblock content %}