<form id="minute-filter">
    <div id="filter-container">
        <div id="emotion-filter">
            <input type="checkbox" id="with-emotion" value="" />
            <label for="with-emotion">감정과 함께 보기</label>
        </div>
    
        <div id="highlight-filter">
            <input type="checkbox" id="with-highlight" value="" />
            <label for="with-highlight">하이라이트만 보기</label>
            <img src="{{ url_for('static', filename='/images/minute/icon-highlight.png') }}" class="highlight-icon">
        </div>
    </div>

    <div id="search-bar">
        <span id="search-icon"><i class="fa fa-search"></i></span>
        <input type="text" id="search" placeholder="검색어를 입력하세요">
    </div>
</form>

<div id="minute-contents-container">
    {% include 'minute/emotion-navigator.html' %}

    <div class="content neutral">
        <div class="text">
            [18:00] 회의가 시작되었습니다.
            <img src="{{ url_for('static', filename='/images/minute/icon-highlight.png') }}" class="highlight-icon">
        </div>

        <div class="emotion-icon">
            <img src="{{ url_for('static', filename='/images/minute/icon-neutral.png') }}">
        </div>
    </div>

    <div class="content anger">
        <div class="text">
            [18:00] 회의가 시작되었습니다.
            <img src="{{ url_for('static', filename='/images/minute/icon-highlight.png') }}" class="highlight-icon">
        </div>

        <div class="emotion-icon">
            <img src="{{ url_for('static', filename='/images/minute/icon-anger.png') }}">
        </div>
    </div>
    <table>
        <thead>
            
            <th>이름</th>
            <th>시간</th>
            <th>내용</th>
            <th>감정</th>
            
        </thead>

        <tbody>
            {% for stt in stt %}
            <tr>
                <td>{{stt.user_name}}</td>
                <td>[{{stt.time}}]</td>
                <td>{{stt.content}}</td>
                <td>{{stt.emotion_name}}</td>
                
            </tr>
            {% endfor %}
            
        </tbody>
    
    </table>
    
</div>