<form id="minute-filter">
    <div id="filter-container">
        <div id="emotion-filter">
            <input type="checkbox" id="with-emotion" value="" checked/>
            <label for="with-emotion">감정과 함께 보기</label>
        </div>
    
        <div id="highlight-filter">
            <input type="checkbox" id="with-highlight" value="" />
            <label for="with-highlight">하이라이트만 보기</label>
            <img src="{{ url_for('static', filename='/images/minute/icon-highlight.png') }}" class="highlight-icon">
        </div>
    </div>

    <div id="search-bar">
        <span id="search-icon"><i class="fa fa-search"></i></span>
        <input type="text" id="search" placeholder="검색어를 입력하세요">
        <input type="hidden" id = "stt_input" value = "{{ stt }}">
    </div>
</form>

<div id="minute-contents-container">
    {% include 'minute/emotion-navigator.html' %}
    <div id = "minute-only-contents-contianer">
    {% for stt in stt %}
        {% if stt.emotion_name == 'default' %}
        <div class="content neutral neutral-div">
            <div class="text">
                [{{stt.hour}}:0{{stt.minute}}] {{stt.user_name}} :  {{stt.content}}
            </div>
            <div class="emotion-icon">
                <img src="{{ url_for('static', filename='/images/minute/icon-neutral.png') }}">
            </div>
        </div>
        {% elif stt.emotion_name == 'angry' %}
        <div class="content anger anger-div">
            <div class="text">
                [{{stt.hour}}:0{{stt.minute}}] {{stt.user_name}} :  {{stt.content}}
            </div>
            <div class="emotion-icon">
                <img src="{{ url_for('static', filename='/images/minute/icon-anger.png') }}">
            </div>
        </div>
        {% elif stt.emotion_name == 'happy' %}
        <div class="content happiness happiness-div">
            <div class="text">
                [{{stt.hour}}:0{{stt.minute}}] {{stt.user_name}} :  {{stt.content}}
            </div>
            <div class="emotion-icon">
                <img src="{{ url_for('static', filename='/images/minute/icon-happiness.png') }}">
            </div>
        </div>
        {% elif stt.emotion_name == 'sad' %}
        <div class="content sadness sadness-div">
            <div class="text">
                [{{stt.hour}}:0{{stt.minute}}] {{stt.user_name}} :  {{stt.content}}
            </div>
            <div class="emotion-icon">
                <img src="{{ url_for('static', filename='/images/minute/icon-sadness.png') }}">
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>