{% extends 'base.html' %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
{% endblock scripts %}

{% block content %}
    <body class="main">
        {% include 'header.html' %}

        <main id="minute-details">
            <section id="minute-title">
                <p>2020/09/01</p>
                <h2>IT팀 회의</h2>
            </section>

            <section id="minute-container">
                <ul>
                    <li class="tab-menu current" data-tab="minute-information">
                        <h4>기본정보</h4>
                    </li>

                    <li class="tab-menu" data-tab="minute-contents">
                        <h4>전체 내용</h4>
                    </li>
                    
                    <li class="tab-menu" data-tab="canny-analysis">
                        <h4>캐니 분석</h4>
                    </li>

                    <li class="tab-menu" data-tab="memo">
                        <h4>메모</h4>
                    </li>
                </ul>
    
                <section id="minute-information" class="tab-content current">
                    {% include 'minute/information.html' %}
                </section>
    
                <section id="minute-contents" class="tab-content">
                    {% include 'minute/contents.html' %}
                </section>
    
                <section id="canny-analysis" class="tab-content">
                    {% include 'minute/canny-analysis.html' %}
                </section>
    
                <section id="memo" class="tab-content">
                    {% include 'minute/memo.html' %}
                </section>
            </section>
        </main>
    </body>
{% endblock content %}