    <div id="emotion-navigator">
        <div id="anger">
            <div class="anger circle"></div>
            화남
            <img src="{{ url_for('static', filename='/images/minute/icon-anger.png') }}">
        </div>

        <div id="sadness">
            <div class="sadness circle"></div>
            슬픔
            <img src="{{ url_for('static', filename='/images/minute/icon-sadness.png') }}">
        </div>

        <div id="neutral">
            <div class="neutral circle"></div>
            무감정
            <img src="{{ url_for('static', filename='/images/minute/icon-neutral.png') }}">
        </div>

        <div id="happiness">
            <div class="happiness circle"></div>
            기쁨
            <img src="{{ url_for('static', filename='/images/minute/icon-happiness.png') }}">
        </div>
    </div>