    <div id="title">
        <div>
            IT팀 회의
        </div>
        <div class="blue-bold">
            <h1>2020/09/01</h1>
        </div>
    </div>

    <div id="participant-list">
        <div>
            <h1 class="blue-bold">4명</h1>
            <div>의 참여자</div>
        </div>

        <div class="participant">
            <div id="profile-photo">
                사진
            </div>
            
            <div id="participant-name">
                홍길동
            </div>
        </div>
    </div>
    
    <div id="meeting-time">
        <div id="total-meeting-time">
            <div>
                회의 시간
            </div>
            <h1 class="blue-bold">
                1시간 17분
            </h1>
        </div>

        <div id="start-time" class="time">
            <h3>
                시작
                <span class="blue-bold">18:00</span>
            </h3>
        </div>

        <div id="end-time" class="time">
            <h3>
                종료
                <span class="blue-bold">19:17</span>
            </h3>
        </div>
    </div>