    <div class="contents-container">
        <div id="first" class="information-column">
            <div id="title" class="information-box">
                <h1>IT팀 회의</h1>
                <h1 class="blue-bold Noto-Sans">2020/09/01</h1>
            </div>
        
            <div id="participant-list" class="information-box">
                <div id="participant-count">
                    <h1 class="blue-bold Noto-Sans">4명</h1>
                    <div>의 참여자</div>
                </div>
        
                <div id="participant-container">
                    <div class="participant">
                        <div class="profile-photo">
                            <img src="{{ url_for('static', filename='images/main/profile.png') }}">
                        </div>
                        
                        <div class="participant-name">
                            홍길동<br>
                            (호스트)
                        </div>
                    </div>

                    <div class="participant">
                        <div class="profile-photo">
                            <img src="{{ url_for('static', filename='images/main/profile.png') }}">
                        </div>
                        
                        <div class="participant-name">
                            홍길동
                        </div>
                    </div>

                    <div class="participant">
                        <div class="profile-photo">
                            <img src="{{ url_for('static', filename='images/main/profile.png') }}">
                        </div>
                        
                        <div class="participant-name">
                            홍길동
                        </div>
                    </div>

                    <div class="participant">
                        <div class="profile-photo">
                            <img src="{{ url_for('static', filename='images/main/profile.png') }}">
                        </div>
                        
                        <div class="participant-name">
                            홍길동
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="second" class="information-column">
            <div id="meeting-time" class="information-box">
                <div id="total-meeting-time">
                    <div>
                        회의 시간
                    </div>
                    <h1 class="blue-bold Noto-Sans">
                        1시간 17분
                    </h1>
                </div>
        
                <div id="start-time" class="time">
                    <h3>
                        시작
                        <span class="blue-bold Noto-Sans">18:00</span>
                    </h3>
                </div>
        
                <div id="end-time" class="time">
                    <h3>
                        종료
                        <span class="blue-bold Noto-Sans">19:17</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    