    <div class="contents-container">
        <div id="first" class="information-column">
            <div id="title" class="information-box">
            <h1>{{mi.room_title}}</h1>
            <h1 class="blue-bold Noto-Sans">{{mi.date}}</h1>
                    
            </div>
        
            <div id="participant-list" class="information-box">
                <div id="participant-count">
                    {% for um in usernum %}
                    <h1 class="blue-bold Noto-Sans">{{um.unum}}명</h1>
                    {% endfor %}
                    <div>의 참여자</div>
                </div>
        
                <div id="participant-container">
                    <div class="participant">
                        
                        <div class="profile-photo">
                            <img src="{{ url_for('static', filename='images/main/profile.png') }}">
                        </div>
                    
                        <div class="participant-name">
                        {% for u1 in name1 %}
                            {{u1.user_name}}<br>
                        {% endfor %}
                        </div>
                    </div>

                    <div class="participant">
                        <div class="profile-photo">
                            <img src="{{ url_for('static', filename='images/main/profile.png') }}">
                        </div>
                        
                        <div class="participant-name">
                        {% for u2 in name2 %}
                            {{u2.user_name}}<br>
                        {% endfor %}
                        </div>
                    </div>

                    <div class="participant">
                        <div class="profile-photo">
                            <img src="{{ url_for('static', filename='images/main/profile.png') }}">
                        </div>
                        
                        <div class="participant-name">
                        {% for u3 in name3 %}
                            {{u3.user_name}}<br>
                        {% endfor %}
                        </div>
                    </div>

                    <div class="participant">
                        <div class="profile-photo">
                            <img src="{{ url_for('static', filename='images/main/profile.png') }}">
                        </div>
                        
                        <div class="participant-name">
                        {% for u4 in name4 %}
                            {{u4.user_name}}<br>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="second" class="information-column">
            <div id="meeting-time" class="information-box">
                <div id="total-meeting-time">
                    <div>
                        회의 시간
                    </div>
                    <h1 class="blue-bold Noto-Sans">
                        {{mi.ET - mi.ST}}
                    </h1>
                </div>
        
                <div id="start-time" class="time">
                    <h3>
                        시작
                        <span class="blue-bold Noto-Sans">{{mi.ST}}</span>
                    </h3>
                </div>
        
                <div id="end-time" class="time">
                    <h3>
                        종료
                        <span class="blue-bold Noto-Sans">{{mi.ET}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    