{% extends 'base.html' %}

{% block css %}
    {{ super () }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-body.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/minute/list.css') }}" type="text/css">
{% endblock css %}

{% block content %}
    <body class="main">
        {% include 'header.html' %}

        <main>
            <section id="minute-list">
                <p>총 <span class="blue-bold">n</span>개의 회의록이 있습니다.</p>

                <table>
                    <thead>
                        <th>No.</th>
                        <th>날짜</th>
                        <th>제목</th>
                        <th>참여자</th>
                    </thead>

                    <tbody>
                        {% for mi in minute %}
                        <tr>
                            <td data-label="No.">{{mi.room_id}}</td>
                            <td data-label="날짜">{{mi.start_time}}</td>
                            <td data-label="제목"><a href="/minute/details">{{mi.room_title}}</a></td>
                            <td data-label="참여자">{{mi.recode}}</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </section>
        </main>
    </body>
{% endblock content %}