{% extends 'base.html' %}

{% block content %}
    <body class="main">
        {% include 'header.html' %}

        <main>
            <section id="minute-list">
                <p>총 <span class="blue-bold">n</span>개의 회의록이 있습니다.</p>

                <table>
                    <thead>
                        <th>No.</th>
                        <th>날짜</th>
                        <th>제목</th>
                        <th>참여자</th>
                    </thead>

                    <tbody>
                        <tr>
                            <td data-label="No.">1</td>
                            <td data-label="날짜">2020.11.12</td>
                            <td data-label="제목"><a href="/minute/details">IT팀 회의</a></td>
                            <td data-label="참여자">홍길동, 참여자 A 외 2명</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </body>
{% endblock content %}