<script>
    function minuteDfunc(){
        var profile = gauth.currentUser.get().getBasicProfile();
        var user_name = profile.getName();
        $('#subname').val(user_name);
        console.log(mid2.value)
        $("#minute_detail").submit();           
    }
</script>


{% extends 'base.html' %}

{% block css %}
    {{ super () }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-body.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/minute/list.css') }}" type="text/css">
    <style>
        .btnstyle{
          background-color: transparent;
          border: 0;
         }
      </style>
{% endblock css %}

{% block content %}
    <body class="main">
        {% include 'header.html' %}

        <main>
            <section id="minute-list">
                <p>총 <span class="blue-bold">4</span>개의 회의록이 있습니다.</p>

                <table>
                    <thead>
                        <th>No.</th>
                        <th>날짜</th>
                        <th>제목</th>
                        <th>참여자</th>
                    </thead>

                    <tbody>
                        {% for mi in result %}
                        <tr>
                            <td data-label="No.">{{mi.room_id}}</td>
                            <td data-label="날짜">{{mi.start_time}}</td>
                            <td data-label="제목">
                                <form action="minute/details" id="minute_detail" name="minute_detail">
                                <input type="hidden" id="mid" name="mid" value={{mi.room_id}}>
                                <input type="hidden" id="subname" name="subname" value="">
                                <button type="submit" onclick="minuteDfunc();" class="btnstyle">{{mi.room_title}}</button>
                                
                            </form></td>
                            <td data-label="참여자">{{mi.recode}}</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </section>
        </main>
    </body>
{% endblock content %}

